body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
}

header {
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: darkgreen;
    border-radius: 10px;
    font-size: 45px;
    font-weight: bold;
}

.welcome-words {
    text-align: center;
}

#welcome-words-one {
    font-size: 25px;
}

#welcome-words-two{
    font-size: 20px;
}

#first-navigation-tag {
    font-size: 30px;
    display: flex;
    gap: 40px;
    justify-content: center;
}

#area-navigation {
    text-decoration: none;
    background-color: rgb(4, 167, 4);
    padding: 10px 40px;
    border-radius: 28px;
    color: white;
}

#area-navigation:hover {
    background-color: red;
}

#area-navigation:active {
    background-color: blue;
}

#perimeter-navigation {
    text-decoration: none;
    background-color: rgb(4, 167, 4);
    padding: 10px 40px;
    border-radius: 28px;
    color: white;
}

#perimeter-navigation:hover {
    background-color: red;
}

#perimeter-navigation:active {
    background-color: blue;
}

#square-area-fieldset {
    margin-top: 60px;
    border-radius: 20px;
    border-color: lightgreen;
    border-width: thick;
}

#square-area-legend {
    font-size: 35px;
    text-align: center;
    background-color: darkgreen;
    padding: 10px;
    border-radius: 10px;
}

#square-area-article {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

#square-area-subfieldset {
    border-radius: 10px;
    border-color: lightgreen;
    border-width: medium;
}

#square-area-sublegend {
    font-size: 25px;
    background-color: darkolivegreen;
    padding: 10px;
    border-radius: 10px;
}

.square-area-side {
    display: flex;
    flex-direction: column;
}

#area-side-label {
    font-size: 20px;
    font-weight: bold;
}

#area-side-input {
    border-radius: 10px;
    padding: 8px;
    border-color: lawngreen;
}

.area-buttons {
    background-color: rgb(170, 7, 7);
    color: rgb(253, 253, 253);
    padding: 10px 25px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.area-buttons:hover {
    background-color: blue;
    font-size: 18px;
    font-weight: bold;
}

.area-buttons:active {
    background-color: green;
    transform: translateY(5px);
}

#square-perimeter-fieldset {
    margin-top: 60px;
    border-radius: 20px;
    border-color: lightgreen;
    border-width: thick;
}

#square-perimeter-legend {
    font-size: 35px;
    text-align: center;
    background-color: darkgreen;
    padding: 10px;
    border-radius: 10px;
}

#square-perimeter-article {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

#square-perimeter-subfieldset {
    border-radius: 10px;
    border-color: lightgreen;
    border-width: medium;
}

#square-perimeter-sublegend {
    font-size: 25px;
    background-color: darkolivegreen;
    padding: 10px;
    border-radius: 10px;
}

.square-perimeter-side {
    display: flex;
    flex-direction: column;
}

#perimeter-side-label {
    font-size: 20px;
    font-weight: bold;
}

#perimeter-side-input {
    border-radius: 10px;
    padding: 8px;
    border-color: lawngreen;
}

.perimeter-buttons {
    background-color: rgb(170, 7, 7);
    color: rgb(253, 253, 253);
    padding: 10px 25px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.perimeter-buttons:hover {
    background-color: blue;
    font-size: 18px;
    font-weight: bold;
}

.perimeter-buttons:active {
    background-color: green;
    transform: translateY(5px);
}

#back-to-top-navigation {
    background-color: green;
    padding: 10px;
    border-radius: 20px;
    display: inline-flex;
    margin-top: 20px;
    margin-left: 1330px;
    font-size: 25px;
    color: white;
    text-decoration: none;
}

#back-to-top-navigation:hover{
    background-color: red;
    font-size: 30px;
    font-weight: bold;
}

#back-to-top-navigation:active{
    background-color: blue;
}