body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(/assets/website\ background\ polish\ 4.png);
    background-color: black;
    color: white;
}

nav {
    background-color: darkgreen;
    padding: 9px;
    border-radius: 12px;
    position: sticky;
    z-index: 3;
    display: flex;
    top: 0;
}

.web-navigation {
    width: 1300px;
    display: flex;
    margin: auto;
    position: relative;
    gap: 460px;
}

.logo {
    font-size: 50px;
    display: flex;
    gap: 10px;
    margin-bottom: 5px 
}

.menu {
    margin-top: 5px;
    font-size: 28px;
    display: flex;
    gap: 25px;
}

#first-header-name {
    text-decoration: none;
    color: white;
}

#last-header-name {
    text-decoration: none;
    color: orange;
}

#home-navigation {
    text-decoration: none;
    color: gold;
    background: rgb(156, 5, 5);
    padding: 8px;
    border-radius: 11px;
}

#home-navigation:active {
    background-color: rgb(56, 224, 14);
}

#home-navigation:hover {
    background-color: rgb(2, 41, 126);
    font-weight: bold;
}

#square-area-navigation {
    text-decoration: none;
    color: gold;
    background: rgb(156, 5, 5);
    padding: 8px;
    border-radius: 11px;
}

#square-area-navigation:active {
    background-color: rgb(56, 224, 14);
}

#square-area-navigation:hover {
    background-color: rgb(2, 41, 126);
    font-weight: bold;
}

#square-circumference-navigation {
    text-decoration: none;
    color: gold;
    background: rgb(156, 5, 5);
    padding: 8px;
    border-radius: 11px;
}

#square-circumference-navigation:active {
    background-color: rgb(56, 224, 14);
}

#square-circumference-navigation:hover {
    background-color: rgb(2, 41, 126);
    font-weight: bold;
}

section {
    display: flex;
    gap: 143px;
    margin-top: 34px;
}

.home-description {
    font-size: 30px;
}

h2 {
    font-size: 55px;
}

#web-name {
    color: gold;
}

#home-image{
    width: 474px;
}

#square-area-fieldset {
    margin-top: 60px;
    border-radius: 20px;
    border-color: lightgreen;
    border-width: thick;
}

#square-area-legend {
    font-size: 35px;
    text-align: center;
    background-color: darkgreen;
    padding: 10px;
    border-radius: 10px;
}

#square-area-article {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

#square-area-image {
    margin-top: 40px;
}

#square-area-subfieldset {
    border-radius: 10px;
    border-color: lightgreen;
    border-width: medium;
}

#square-area-sublegend {
    font-size: 25px;
    background-color: darkolivegreen;
    padding: 10px;
    border-radius: 10px;
}

.square-area-side {
    display: flex;
    flex-direction: column;
}

#area-side-label {
    font-size: 20px;
    font-weight: bold;
}

#area-side-input {
    border-radius: 10px;
    padding: 8px;
    border-color: lawngreen;
    font-size: 25px;
    font-weight: bold;
}

.area-buttons {
    margin-top: 10px;
}

#area-Count {
    background-color: rgb(170, 7, 7);
    color: rgb(253, 253, 253);
    padding: 10px 25px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

#area-Reset {
    background-color: rgb(170, 7, 7);
    color: rgb(253, 253, 253);
    padding: 10px 25px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

#area-Count:hover {
    background-color: blue;
    font-size: 18px;
    font-weight: bold;
}

#area-Count:active {
    background-color: green;
    transform: translateY(5px);
}

#area-Reset:hover {
    background-color: blue;
    font-size: 18px;
    font-weight: bold;
}

#area-Reset:active {
    background-color: green;
    transform: translateY(5px);
}

#area-Result {
    font-weight: bold;
    font-size: 30px;
}

#square-circumference-fieldset {
    margin-top: 60px;
    border-radius: 20px;
    border-color: lightgreen;
    border-width: thick;
}

#square-circumference-legend {
    font-size: 35px;
    text-align: center;
    background-color: darkgreen;
    padding: 10px;
    border-radius: 10px;
}

#square-circumference-article {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

#square-circumference-image {
    margin-top: 40px;
}

#square-circumference-subfieldset {
    border-radius: 10px;
    border-color: lightgreen;
    border-width: medium;
}

#square-circumference-sublegend {
    font-size: 25px;
    background-color: darkolivegreen;
    padding: 10px;
    border-radius: 10px;
}

.square-circumference-side {
    display: flex;
    flex-direction: column;
}

#circumference-side-label {
    font-size: 20px;
    font-weight: bold;
}

#circumference-side-input {
    border-radius: 10px;
    padding: 8px;
    border-color: lawngreen;
    font-size: 25px;
    font-weight: bold;
}

.circumference-buttons {
    margin-top: 10px;
}

#circumference-Count {
    background-color: rgb(170, 7, 7);
    color: rgb(253, 253, 253);
    padding: 10px 25px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

#circumference-Reset {
    background-color: rgb(170, 7, 7);
    color: rgb(253, 253, 253);
    padding: 10px 25px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

#circumference-Count:hover {
    background-color: blue;
    font-size: 18px;
    font-weight: bold;
}

#circumference-Count:active {
    background-color: green;
    transform: translateY(5px);
}

#circumference-Reset:hover {
    background-color: blue;
    font-size: 18px;
    font-weight: bold;
}

#circumference-Reset:active {
    background-color: green;
    transform: translateY(5px);
}

#circumference-Result {
    font-weight: bold;
    font-size: 30px;
}
